<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Qoura Posts</h1>
    <% for(let post of posts) { %>
        <div class="div">
            <h3 class="user">@<%=post.name %>
            </h3>
            <h5 class="age">
                <%=post.userage %>
            </h5>
            <h5>
                <%=post.usercontent %>

            </h5>
            <a href="http://localhost:8080/posts/<%= post.id %>">See in detail</a>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit"> Edit Post</a> 
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button>Delete post</button>
            </form>
        </div>

        <% } %>
            <br>
            <br>
            <br>
            <br>
            <a href="http://localhost:8080/posts/new"> create new post</a>

</body>

</html>